h1 {
    border-left: 30px solid #F44000;
    background-color: #EEEEEE;
    padding-left: 10px;
}
h2 {
    background-color: #EEEEEE;
    border-left: 7px solid #0044FF;
    padding-left: 10px;
    margin-left: 10px;
}
h3 {
    border-bottom: 1px dashed #000;
    margin-left: 20px;
}
p {
    text-indent: 1em;
}
